<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.community.life">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name="com.community.life.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.community.life.ui.LoginSelectActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.community.life.ui.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.community.life.ui.MaintainActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.community.life.ui.MaintainProgressActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.community.life.ui.AnnouncementActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.community.life.ui.CertificationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity android:name="com.community.life.ui.AboutUsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.community.life.ui.TransactionRecordsActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.community.life.ui.AddAddressActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.community.life.ui.AuthorizationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name="com.community.life.ui.AddPeopleActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <activity
            android:name="com.community.life.ui.SplashActivity"
            android:theme="@style/splash_style">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>